* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body,
label,
input {
  height: 100%;
  padding: 0;
  margin: 0;
  color:#FF8000;  
  font-size:20px;
}

#end_results {
  height: 100%;
  padding: 0;
  margin: 0;
  color:#FF8000;  
  font-size:25px;
}

section {
    display:inline-block;
    background-color:#F2F5A9;
    border-color:#3B240B;
    border:3px 3px 3px 3px;
    border-style:solid;
    float:left;
    height:450px;
    width:50%;
}


.hidden{
    display : none;
    opacity :0;
}

.sub-msg{
    font-size: 1em;
    font-wight:400;
    color:#FA8258;
}



#arrow{
 background-color: #F2F2F2;
 width: 1.25em;
 height: 2.5rem;
}

#err-msg-1,
#err-msg-2,
#err-msg-3
{
    
 background-color: #F2F2F2;
 width: 1.25em;
 font-weight:900;
 height: 2.5rem;
}



input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}




.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px;
  align-items: center;
  justify-content: center;
  font-weight: bold;  
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}




.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #F2F4F4;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}


.form-group {
  padding: 5px;
  margin: 5px;
  font-size:16px;
  color: orange;
   
}


/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
        background-color:white;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		cursor: pointer;
		display: inline-block;
		font-weight: 900;
 		font-size: 15px;
		height: 2.75em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}


select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}


.margin-top-50 {
  padding-left:100px; 
  margin-left:50px;
  margin-right:50px;  
}



/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  body {
    font-size: 1em;
  }

  .margin-top-50 {
    padding-left:0;
    margin:0 0 0 0;
      
  }

}


